
#header {
    background-color: white;
    z-index: 1;
}

#logo {
    float: left;
    height:50px;
    width: auto;
    padding-bottom: 10px;
    padding-left: 10px;
}

#hamburger {
    float: right;
    height: 30px;
    width: auto;
    padding-top: 10px;
    padding-right: 20px;
}

#intro {
    background-image: url("images/building.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    clear:both;
    width: 100%;
    height: 0;
    padding-top: 60%;
    position: relative;
}

#transparency {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    opacity: 0.25;
    vertical-align: baseline;
}

#introtext {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-20%);

}

#welcome {
    font-style: italic;
    font-family: serif;
    font-weight: normal;
    color: white;
}
#button {
    color: chocolate;
    font-size: 1.5em;
    display: inline-block;
    background-color: gold;
    border: 2px solid chocolate;
    border-radius: 3em;
    height: 30px;
    width: 200px;
    margin-top: -10px;
    padding-top: 1.5px
}

#body {
    background-color: grey;
}
